
body {
margin: 0 0;
font-family: arial;
 }
html {
	background: url(http://www.nzstory.govt.nz/thumbnails/01CWNZS_NZS_7777-thumb.jpg) no-repeat center center fixed;
	webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
* {
	
}
nav {
	
	/*margin: -20px -10px;*/
	height: 80px;


}
#logo h1 a{
		
}
#logo hr {
	height: 5px;
	background-color: #D2852E;
	border: none;
	margin-top: -40px;
}
#main-nav li:not(first-child){
	/*float: right;*/
	display: inline-block;
	margin-left: 100px;
	margin-top: 5px;
	font-size: 18px; 
}
#main-nav li:hover {

}

#logo {
	float: left;
	margin-top: 5px;
	margin-left: 20px;
	
	font-size: 25px;
	
}
#main-nav ul{
	margin-top: 0;		
}
 #main-nav {
 float: right;
 height: 30px;
 width: 60%;
background: rgba(255,255,255,0.5);

}

#active-site {
	position: relative;
}

#active-site:before {
	/*width: 10px;
	height: 10px;
	background: orange;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;*/
	content: '';
	display: block;
	width: 10px;
	height: 10px;
	background-color: orange;
	position: absolute;
	border-radius: 50%;
	left: -20px;
	top: 5px;
}

#location {
	clear: both;
	background-color: green;
	display: inline-block;
}

#location:after {
	content: '';
	display: block;
	clear: both;
	}

#location ul li{
float: left;
content: '';
padding-left: 40px;	
background-color: purple;
font-size: 20px;
}
#active-location {
	background-color: orange;
	padding: 5px 7px;
}
li {
	list-style: none;
    font-weight: bold; 
}
a {
	text-decoration: none;
	color: black;
}

#location {
	transform: rotate(0.75turn);
	position: absolute;
	left: -140px;
	top: 350px;
	position: fixed;
}
.tours p {
	background-color: yellow;
	width: 300px;
} 
.tours {
	display: inline-block;
	margin-left: 10px;

}
main {
	background-color: red;
	width: 950px;
	margin: 0 auto;
	margin-top: 200px;

}
.tours h1 {
	font-size: 18px;
}
