
body {
margin: 0 0;
font-family: arial;
 }
html {
	background: url(http://www.nzstory.govt.nz/thumbnails/01CWNZS_NZS_7777-thumb.jpg) no-repeat center center fixed;
	webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
* { border-radius: 5px;
	
	
}
nav {
	/*margin: -20px -10px;*/
	height: 80px;
	position: sticky;
	top: 0;


}
#logo h1 a{
	text-shadow: 1px 1px 1px #333333; 
		
}
#logo hr {
	height: 5px;
	background-color: #D2852E;
	border: none;
	margin-top: -35px;

}
#main-nav li:not(first-child){
	float: left;
	display: block;
	margin-left: 100px;
	margin-top: 5px;
	font-size: 18px; 
}

#logo {
	float: left;
	margin-top: 5px;
	margin-left: 20px;
	font-size: 25px;
	
	
}
#logo a:hover,
#logo hr:hover {
	color: #D2852E;

}
#logo h1 {
	text-shadow: 1px 1px 10px 1px #333; 
}
#main-nav ul{
	margin-top: 0;		
}
 #main-nav {
 float: right;
 height: 30px;
 width: 65%;
background: rgba(255,255,255,0.5);
box-shadow: 0.5px 0.5px 15px 1px #333;
text-shadow: 1px 1px 0.5px #333333; 


}
#main-nav a:hover {
color: #D2852E;
}
#active-site {
	position: relative;
}

}

#active-site:before {
	/*width: 10px;
	height: 10px;
	background: orange;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;*/
	content: '';
	display: block;
	width: 10px;
	height: 10px;
	background-color: orange;
	position: absolute;
	border-radius: 50%;
	left: -30px;
	top: 5px;
	border: 0.7px solid #333333;
}

#location {
	clear: both;
	display: inline-block;



}
#location ul {
	margin: 0;
	background-color: blue;
}
#location a  {
  background-color: rgba(210, 133, 46, 0.5);
	padding: 10px 30px;
	box-shadow: 3px 2px 15px 1px #333;
}

#location:after {
	content: '';
	display: block;
	clear: both;
	}

#location ul li{
float: left;
/*content: '';*/
margin-left: 32px;	
font-size: 20px;
}

#active-location a {
	padding: 20px 30px;
	background-color: rgba(210, 133, 46, 1)
}
li {
	list-style: none;
    font-weight: bold; 
}
a {
	text-decoration: none;
	color: black;
}

#location {
	transform: rotate(0.75turn);
	left: -190px;
	top: 370px;
	position: fixed;
}
#location a:hover {
	background-color: #555555;
}



main {
	background-color: rgba(255,255,255, 0.5);
	width: 950px;
	margin: 0 auto;
	margin-top: 100px;
	height: 400px;
	box-shadow: 1px 1px 15px 1px #333;
	height: 400px;

}
footer {
	background-color: #D2852E;
	margin-bottom: 0;
	text-align: left;
		height: 150px;
	width: 1150px;
	margin: 0 auto;
	margin-top: 100px;
	box-shadow: 1px 1px 15px 1px #333;

}
#social {
	position: absolute;
	right: 200px; 
	margin-top: 65px;
	font-size: 30px;
	text-shadow: 1px 1px 1px #333333; 

}
#social i {
	margin-right: 20px;
}

}

#phone {
	position: absolute;
	margin-top: 70px;
	right: 500px;
	font-size: 24px;
	text-shadow: 1px 1px 1px #333333; 

}
#phone span {
	font-weight: bolder;
	margin: 10px;
}
#phone i:hover,
#social i:hover {
	color: #D2852E;

}
footer p:last-child {
background-color: #D2852E;

}
footer div {
	margin: 0  auto;
	width: 950px;
}
footer {
	width: 1150px;
	margin: 0 auto;
	margin-top: 100px;
	box-shadow: 1px 1px 15px 1px #333;
}

footer li {
	display: inline-block;
	margin-top: 60px;
	margin-left: 60px;
}
footer hr {
	background-color: #333333;
	height: 1px;
	border: none;
}
footer li a:hover {
	color: #333333;
}
#booking {
	
	width: 450px;
    margin: 0 auto;
    padding-top: 60px;


}









